<div class="myfooter">
  <label class="x-footer">
    Copyright © <%= Time.now.year %> iClick Interactive Asia Limited. All Rights Reserved.
     <!-- <span>| <a target="_blank" href="/zh-cn/admin/send_file_upload_release_notes"><%#=t('layout.release_notes')%>
      </a></span>
    <span>| <a target="_blank" href="/templates/xmo_help.pdf" onclick="_xmoIstag1();"><%#=t('layout.help_center')%></a></span>
    -->
  </label>
  <label class="x-footer">(<%=t('layout.suggested_browsers')%>: Internet Explorer 8.0 and 9.0, Chrome 8.0+, Firefox 3.5+, Safari 1.0+, Opera V11+.)</label>
</div>
