.layer_parent_div{
    position: fixed; top: 0; left: 0px; z-index: 99999; width: 100%; overflow-y: auto; bottom: 0px;  background-color: rgba(0, 0, 0, 0.498039);
}
.layer_hidden{overflow: hidden;}


.xubox_layer{
    z-index: 19891016 !important; width:
800px !important;  margin: 20px auto !important;
    position:static !important;
    height:auto !important;
    overflow:initial !important
}
.xubox_page{
    position:relative !important;
    top:0 !important;left:0 !important;!important;padding:0px 20px !important;width: 780px !important;
    padding: 0 !important;
    height:auto !important;
    overflow:initial !important
}

.xubox_setwin{
    position:absolute !important; right: 20px !important; top: 20px !important; font-size:0 !important;
}
.xubox_shade{
    z-index:0 !important;
}
.xubox_main{
    padding:15px !important;
}

.creative_save{
    margin:0 !important;
}

.xubox_border{display: none;}
