<div>
  <div class="row" style="font-size: 14px;"><%= @client.code.present? ? @client.code : ''%></br>
    <div style="font-size: 14px;color: #336dc6;display:inline"><span id="title1"><%= @client.clientname.present? ? @client.clientname : t('order.form.undefined_order')%></span></div></div>
</div>
<%= render :partial => "form" %>