
<script type="text/javascript" src="/js/xmo-calendar.js"></script>
<script src="/js/chosen.jquery.min.js?9120" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/css/xmo-calendar.css">
<div class="row"><div class="client-row"><h1></h1></div></div>
<div class="big_section">
<%= form_for(@operation, :url =>{:action =>"allocate_create"},:html=>{:id=>"campaign_form", :class=>"form-horizontal"}) do |f| %>
    <!-- sub_section_white start -->
    <div class="sub_section_white">
  <div class="control-group">
    <label class="control-label">
      <label for="campaign_status">配置状态</label>
    </label>
      <div class="controls">
      <div class="row">
        <div class="span">
           <%= f.text_field :action,:rows =>"6",:class=>"span5",:value=>@order.operations.last ? t(@order.operations.last.action) : "正在配置",:readonly=>true %>
        </div>
      </div>
    </div>
  </div>
	<div class="control-group">
		<label class="control-label">
			<label for="campaign_status">备注</label>
		</label>
		<div class="controls">
			<div class="row">
				<div class="span">
			           <%= f.text_area :comment,:rows =>"6",:class=>"span5",:value=>@order.operations.last ? @order.operations.last.comment : "",:readonly=>true %>
				</div>
			</div>
		</div>
	</div>
    </div>
    <!-- sub_section_white end -->
<div class="row t_margin_30">
    <!-- button area -->
    <div class="button_area">
    <div class="r_margin_20">
        <div class="pull-right">
            <div class="outer_cancel">
              <a href="<%=session[:left_tab]%>" class="change_cancel_btn cancel cancel_pretargeting">
                返回
              </a>
            </div>
        </div>
        <div id="submit_loading" style="display:none" class="save_loading pull-right r_margin_10 t_margin_10">
            <img src="/images/pre-loading_small.gif">
        </div>
    </div>
    </div>
  </div>
<%end%>
</div>