<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear Sir/Madam,</p>
    <p>Client<%= @client.clientname %>status changed. Please login system for details.</p>

    <p>Regards,</br>
    iClick Interative Asia Limited</p>


    <p>您好:</p>
    <p>客户<%= @client.clientname %>状态发生变化，您可以登录系统查看详情。</p>

    <p>谢谢</p>

    <p>爱点击互动</p>
  </body>
</html>
