<style type="text/css">
    .table_wraper{width: 960px;}
    .email_table{border: 0;width: 960px;}
    .email_table tr{width: 960px;}
    .email_table td{border:1px solid black;padding: 3px;}

    .email_table .t_info{text-align: center;}
    .email_table tr.t_noborder td{border-top: 0;}
    .email_table tr.t_noborder td:first-child{border-right: 0;width: 298px;}
    .email_table tr.t_noborder td:last-child{text-align: center;width: 648px;}
    .ad_item div{border-top: 1px solid black;}
    .ad_item div:first-child{border-top: 0;}
    .font_red{color: red;}
</style>

<div class="table_wraper" style="width:960px;margin-top: 25px;">
  <table style="border: 0;width: 960px;" class="email_table table table-striped table-bordered table-condensed width_100" cellpadding="0" cellspacing="0" border="0">
    <tbody>

    </br>
    <tr style="width:960px;">
      <td colspan='3' class="t_info" style="background:#FF9933;width:960px;text-align:center;">毛利核算</td>
    </tr>
   <%
    gp_evaluate = order.gp_evaluate.present? ? order.gp_evaluate.to_f : order.est_gp
    rebate = order.rebate.present? ? order.rebate.to_f :  0.0
    market_cost = order.market_cost.present? ? order.market_cost.to_f : order.default_market_cost
    net_gp = order.net_gp.present? ? order.net_gp : (gp_evaluate - rebate - market_cost).round(2)
   %>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">毛利预估(订单)</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"> <%= number_with_precision(order.budget.to_f * gp_evaluate /100, :precision => 2, :delimiter => ",") +" ("+gp_evaluate.to_s+"%)"%></td>
    </tr>
    <% if [2,3].include? node_id %>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">代理返点</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"> <%= number_with_precision(order.budget.to_f * rebate / 100,:precision => 2, :delimiter => ",") + "("+rebate.to_s+"%)"%></td>
    </tr>

    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">市场推广费用</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"> <%= number_with_precision(order.budget.to_f * market_cost / 100, :precision => 2, :delimiter => ",") +" ("+market_cost.to_s+"%)" %></td>
    </tr>


    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">净毛利</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;color: red;"> <%= number_with_precision(order.budget.to_f * net_gp / 100, :precision => 2, :delimiter => ",") +" ("+net_gp.to_s+"%)" %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>


