<p>
  您好，</p>
<p>
  &nbsp;</p>
<p>
  新增客户000005正在等待审批。</p>
<p>
  &nbsp;</p>
<p>
  * 您可以直接回复YES 或 NO （不区分大小写），给出审批结果。YES
  代表通过，NO代表不通过。您也可以登录系统进行审批，链接为：<a href="http://www.xxx.com/xxx/xxx">http://www.xxx.com/xxx/xxx</a>。（注：此链接为销售总监审批客户页面）
</p>
<p>
  &nbsp;</p>
<p>
  <strong><u>以下为客户详情：</u></strong></p>
<p>
  客户编号：000005</p>
<p>
  客户名称：DOVE</p>
<p>
  商业登记证号码：512234890987</p>
<p>
  客户联系人：Amy Su</p>
<p>
  联络人电话：13812345678</p>
<p>
  销售：Joey Wong</p>
<p>
  创建时间：2014.12.20</p>
<p>
  &nbsp;</p>
<p>
  谢谢。</p>
<p>
  爱点击互动</p>