<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico?v=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <META name="Author" Content="Optimix Technology" />
    <meta name="copyright" content="Copyright &copy; 2015 OPTIMIX" />
    <meta name="Robots" contect="none,noindex,nofollow,noarchive" />
    <title><%= t("title")%></title>
    <!-- add your meta tags here -->

    <link href="/libs/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/chosen.css?9120" media="all" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/xmo/application.css?9120" media="all" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/xmo/xmo_components.css?9120" media="all" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/css/redmond/jquery-ui-1.8.17.custom.css?9120" media="all" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/xmo/print.css?9120" media="print" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/book.css?9120" media="all" rel="stylesheet" type="text/css" />

    <!-- include javascripts -->
    <script src="/libs/jquery-1.7.1.min.js?9120" type="text/javascript"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui-1.8.21.custom.min.js?9120" type="text/javascript"></script>
    <script src="/javascripts/jquery.linkselect.min.js?9120" type="text/javascript"></script>
    <script src="/javascripts/jquery.tooltip.js?9120" type="text/javascript"></script>
    <script src="/javascripts/jquery.xmo_tooltips.js?9120" type="text/javascript"></script>
    <script src="/javascripts/js/component.js?9120" type="text/javascript"></script>
    <script src="/javascripts/jquery.sticky.js?9120" type="text/javascript"></script>
    <script src="/javascripts/jquery.defaultvalue.js?9120" type="text/javascript"></script>
    <script src="/javascripts/expandTable.js" type="text/javascript"></script>
    <script type="text/javascript">
//<![CDATA[
var AUTH_TOKEN = "Xj6pafyxgTkJIkz5WqmdNaRdLcIL9Zg9d2juzgciMf0=";
$(document).ready(function() {
              $('.field_with_errors').parent().addClass('have_error');
          });
//]]>
</script>
    <style type="text/css">
    .field_with_errors {
    display:inline;
    margin:0px;
    padding:0px;
    }
  </style>
</head>
  <body>
 <div class="container">
    <%= render :partial => "layouts/shared/heads" %>
    <%= yield %>
 </div>
    <%= render :partial => "layouts/shared/footer" %>
  </body>
</html>